<div class="mt-4">
    <form method="POST" action="">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Search</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Type here...">
        </div>

        <div class="mb-3">
            <label for="gender-input">Search</label>
            <select name="gender" class="form-control" id="gender-input">
                <option value="gender">-- Your gender --</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>